@CHARSET "UTF-8";
/********************************************************************************************************************/
/* --- 全体の背景・テキスト --- */
body {
margin: 0;
padding: 0;
background-color: #000000; /* ページの背景色 */
color: #00C000; /* 全体の文字色 */
font-size: 80%; /* 全体の文字サイズ */
height:100%;
line-height: 200%; /* 行の高さ */
    position: relative;
    left: 0;
    overflow-x: hidden;
}
/********************************************************************************************************************/
/* --- 全体のリンクテキスト --- */
a:link { color: #0000ff; }
a:visited { color: #800080; }
a:hover { color: #ff0000; }
a:active { color: #ff0000; }
/********************************************************************************************************************/
/* --- コンテナ --- */
#container {
width: 100%; /* ページの幅 */
height: 100%;
margin: 0 auto; /* センタリング */
background-color: #000000; /* メインカラムの背景色 */
border-left: 1px #c0c0c0 solid; /* 左の境界線 */
border-right: 1px #c0c0c0 solid; /* 右の境界線 */
overflow: hidden;
}
/********************************************************************************************************************/
/* --- ヘッダ --- */
#header {
  width: 100%;
  padding: 1px 0 1px 0;
  background-color: #808000; /* ヘッダの背景色 */
}
/********************************************************************************************************************/
/* --- ナビゲーション --- */
#nav {
  float: left;
  width: 18%; /* サイドバーの幅 */
  padding: 0 0 0 0; /* [上][右][下][左] */
  border-right: 0px #00C000 solid; /* 右の境界線 */
}
/********************************************************************************************************************/
/* --- メインカラム --- */
#content {
float: left;
width: 100%; /* メインカラムの幅 */
padding: 0px 3px 100px 3px; /* [上][右][下][左] */
border-left: 1px #00C000 solid; /* 右の境界線 */
}
/********************************************************************************************************************/
/* --- フッタ --- */
#footer {
clear: left; /* フロートのクリア */
width: 100%;
padding: 20px 0 40px 0; /* [上][右][下][左] */
background-color: #808000; /* フッタの背景色 */
}
/********************************************************************************************************************/
/* --- タイトル（ページのタイトル） --- */
#breadScraps {
    padding: 40px 0 0 0; /* [上][右][下][左] */
	/*padding-bottom: .5em*/;
	border-bottom: 1px solid #ccc;
}
/********************************************************************************************************************/
/* --- タイトル（大分類） --- */
h1 {
    position: relative;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
}
h1::before {
    position: absolute;
    left: -6px;
    bottom: 0;
    content: '';
    width: 6px;
    height: 50%;
    background-color: #3498db;
}
h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ccc;
}
/********************************************************************************************************************/
/* --- タイトル（中分類） --- */
h2 {
    padding: .25em 0 .5em 1.5em; /* [上][右][下][左] */
    border-left: 6px solid #ccc;
    border-bottom: 1px solid #ccc;
    position:relative;
}
/* 矢印 */
h2:before{
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #00C000;
}
/********************************************************************************************************************/
/* --- タイトル（小分類） --- */
h3 {
    position: relative;
    padding: 0 .5em .5em 1.7em;
    border-bottom: 1px solid #ccc;
}
h3::after {
    position: absolute;
    top: .4em;
    left: .4em;
    z-index: 2;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/********************************************************************************************************************/
/* --- 重要箇所 --- */
#important {
color: #C0C000; /* 全体の文字色 */
font-size: 100%; /* 全体の文字サイズ */
}
/********************************************************************************************************************/
/* --- テーブル --- */
table.type07 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.0; /* 行の高さ */
    border: 1px solid #ccc;
}
table.type07 thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #04162e;
}
table.type07 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #C0C000;
}
table.type07 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #404000;
}
table.type07 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
/********************************************************************************************************************/
/* --- とりあえずpreタグ --- */
pre {
overflow: auto;
white-space: normal;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
border:1px solid #ccc;
padding:5px;
margin:10px;
background-color:#e7ebff;
}
/********************************************************************************************************************/
/* --- シームレスなフレーム --- */
iframe {
border: none;
width:  100%; /* フレームの幅 */
}
/********************************************************************************************************************/
/* --- リスト位置 --- */
ul {
 /*list-style: none;*/
 margin-left: 0.5em;
 padding-left: 1em;
 text-indent: 0em;
}
/* --- 強調 --- */
.bigfont_underline {
    font-size: 200%;
    color: #008000;
    background: linear-gradient(transparent 80%, #808000 50%);
}
/********************************************************************************************************************/
/* ★こここからオリジナル  */
/********************************************************************************************************************/
/*
 * メニュー文字列
 */
#menuString {
	width: 158px;
	display: table-cell;
	vertical-align: top;
}
/********************************************************************************************************************/
/*
 * サイドメニュー
 */
#slide_menu{
    position: fixed;
    top: 0;
    left: -158px;
    width: 158px;
    height: 10000px;
    background: gray;
    z-index: 999;  /*そこそこ最前線にする */
}
/********************************************************************************************************************/
/*
 * 親メニュー
 */
#dropmenu {
  list-style-type: none;
  width: 790px; /* 全体の長さ（ここ以外は、%で表す） */
  margin: 0px auto 0px;
  padding: 0 0 0 0; /* [上][右][下][左] */
}
#dropmenu li {
  position: relative;
  width: 20%;
  /*float: left;  横並びにする*/
  margin: 0;
  padding: 0;
  text-align: center;
}
#dropmenu li a {
  display: block;
  margin: 0;
  padding: 16px 0;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
/********************************************************************************************************************/
/*
 * 子以下メニュー
 */
#dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 95%;
  margin: 0;
  padding: 0;
}
#dropmenu li ul li {
  overflow: hidden;
  width: 95%;
  height: 0;
  color: #fff;
  transition: .2s;
}
#dropmenu li ul li a {
  padding: 13px 15px;
  background: #7c8c0e;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
/********************************************************************************************************************/
/* 動作 */
#dropmenu > li:hover > a {  background: #7c8c0e } /**/
#dropmenu > li:hover li:hover > a {  background: #6e7c0c }
#dropmenu li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
#dropmenu li ul li ul {
  top: 0;
  left: 100%;
}
/*
#dropmenu li:last-child ul li ul {
  left: -100%;
  width: 100%;
}
*/
#dropmenu li ul li ul li a {  background: #616d0b }
#dropmenu li:hover ul li ul li:hover > a {  background: #535d09 }
#dropmenu li ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: -20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #454e08;
}
/*
#dropmenu li:last-child ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: 200%;
  margin-left: -20px;
  border: 5px solid transparent;
  border-right-color: #454e08;
}
*/
/********************************************************************************************************************/
/*
 * サイトの共通ヘッダを横並び
 */
.boxContainer {
  position: fixed;
  display: table;
}
.box1 {
	width: 40px;
	vertical-align: top;
}
.box2 {
	width: 100%;
	display: table-cell;
	vertical-align: top;
}
.box3 {
	width: 40px;
	display: table-cell;
	vertical-align: top;
}
.box4 {
	width: 40px;
	display: table-cell;
	vertical-align: top;
}
/********************************************************************************************************************/
/*
 * メニューボタン
 */
#panel-btn{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 0 10px;
  /*border-radius: 100%; 円*/
  background: gray;
}
#panel-btn:hover{
  background: green;
}

#panel-btn-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  margin: -1px 0 0 -7px;
  background: #2196F3;
  transition: .2s;
}
#panel-btn-icon:before, #panel-btn-icon:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 2px;
  background: #2196F3;
  transition: .3s;
}
#panel-btn-icon:before{
  margin-top: -6px;
}
#panel-btn-icon:after{
  margin-top: 4px;
}
#panel-btn .close{
  background: transparent;
}
#panel-btn .close:before, #panel-btn .close:after{
  margin-top: 0;
}
#panel-btn .close:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#panel-btn .close:after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
/********************************************************************************************************************/
/*
 * 「homeへ」ボタン
 */
#homeImg {
    height: 40px;
}
/********************************************************************************************************************/
/*
 * 検索ボックス
 */
#keywords2  {
	width: 100%;
    height: 38px;
    background: #999;
    border: none;
/*    padding: 4px;*/
    color: lightgreen;
    font-size:130%;
}
#searchBtn2 {
    height: 40px;
}
/********************************************************************************************************************/
/*
 * 画像の大きさ調整
 */
p.resizeimage {
    display: table-cell; /*上下中央*/
    text-align: center; /*左右中央*/
    vertical-align: middle; /*上下中央*/
    layout-grid-line:166px; /*IE7*/
}
p.resizeimage img {
	width: 95%;
	vertical-align: middle;/*IE7*/
}
/********************************************************************************************************************/
